<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.chair.manager.mapper.DeviceMapper">

	<select id="queryAll" resultType="Device">
		SELECT * FROM device ORDER BY updated DESC
	</select>
	
</mapper>