<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.chair.manager.mapper.RechargeRecordMapper">

	
	<select id="queryRechargeRecordList" resultType="RechargeRecord">
		<!-- SELECT * FROM recharge_record where open_id=#{openId} and phone_number=#{phoneNumber} and pay_status=#{payStatus} ORDER BY last_update DESC; -->
		SELECT * FROM recharge_record where open_id=#{openId} and pay_status=#{payStatus} ORDER BY last_update DESC;
	</select>
	
	<select id="queryRechargeRecordPage" parameterType="com.chair.manager.pojo.dto.RechargeRecordDto" resultType="com.chair.manager.pojo.RechargeRecord">
		SELECT * FROM recharge_record where DATE_FORMAT(last_update,'%Y-%m-%d') BETWEEN #{from} and #{to} order by last_update desc
	</select>
	
	
</mapper>