<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chair.manager.mapper.StatiscticsMapper">
	
	
	<!-- 统计-代理，查询代理下所有商家信息 -->
	<select id="queryProxyStatisctics" parameterType="com.chair.manager.pojo.ManagerDto" resultType="com.chair.manager.pojo.Statisctics">
		select tmp.*, count(1) as totalDevice from
		(select m.id, m.shop_name as shopName, m.shop_location as shopLocation , m.shop_contact as shopContact, m.shop_contact_phone as shopPhone, SUM(c.consumed_duration) as totalDuration,
		(SUM(c.consumed_duration) * m.shop_percent / 100) as dayIncome
		from manager m LEFT JOIN consumed_details c on m.id=c.shop_id 
		where m.proxy_id=#{proxyId} and c.status=2 and DATE_FORMAT(c.last_update,'%Y-%m-%d') BETWEEN #{from} and #{to} ) AS tmp
		left join device d on tmp.id = d.shop_id group by tmp.id
	</select>
	
	<!-- 统计-代理，查询代理自身收益统计 -->
	<select id="queryBaseStatisctics" parameterType="com.chair.manager.pojo.ManagerDto" resultType="com.chair.manager.pojo.Statisctics">
		select 
		(sum(consumed_duration) * (select proxy_percent/100 from manager where id=#{proxyId})) as totalIncome,
		(select count(*) from device d where d.proxy_id=c.proxy_id) as totalDevice,
		(select count(*) from manager where proxy_id=c.proxy_id and type=3) as totalShop
		from consumed_details c where  status=2 and proxy_id=#{proxyId};
	</select>
	
	<!-- 统计-代理，查询代理当日收益 -->
	<select id="queryDayIncomeForProxy" parameterType="com.chair.manager.pojo.ManagerDto" resultType="com.chair.manager.pojo.Statisctics">
		select (sum(consumed_duration) * (select proxy_percent/100 from manager where id=c.proxy_id)) as dayIncome 
		from consumed_details c where DATE_FORMAT(now(), '%Y-%m-%d') = DATE_FORMAT(last_update, '%Y-%m-%d') and status=2 and proxy_id=#{proxyId};
	</select>
	
	
	<!-- 统计-商家，查询商家自身收益统计 -->
	<select id="queryShopStatisctics" parameterType="com.chair.manager.pojo.ManagerDto" resultType="com.chair.manager.pojo.Statisctics">
		select d.id as id, d.device_no as deviceNo, 
		sum(consumed_duration) as totalDuration, 
		(sum(consumed_duration) * ( select shop_percent/100 from manager where id=d.shop_id) )as totalIncome 
		from device d left join consumed_details c on d.id=c.device_id where d.shop_id=#{shopId} and c.status=2 and DATE_FORMAT(c.last_update,'%Y-%m-%d') BETWEEN #{from} and #{to} group by d.id
	</select>
	
	<!-- 统计-商家，查询商家自身基本统计 -->
	<select id="queryShopBaseStatisctics" parameterType="com.chair.manager.pojo.ManagerDto" resultType="com.chair.manager.pojo.Statisctics">
		select ( sum(consumed_duration) * (select shop_percent from manager where id=#{shopId}) /100 ) as totalIncome,
		(select ( sum(consumed_duration) * (select shop_percent from manager where id=#{shopId}) /100 ) from  consumed_details where shop_id=#{shopId} and DATE_FORMAT(last_update,'%Y-%m-%d') = DATE_FORMAT(now(),'%Y-%m-%d')) as dayIncome
		from consumed_details where status=2 and shop_id=#{shopId};
	</select>
	
	
	
	
</mapper>