<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chair.manager.mapper.StatiscticsMapper">
	
	
	<!-- 统计-代理，查询代理下所有商家信息 -->
	<select id="queryProxyStatisctics" parameterType="com.chair.manager.pojo.ManagerDto" resultType="com.chair.manager.pojo.Statisctics">
		SELECT
		tmp.*, tmp1.* ,count(1) AS totalDevice
		FROM
		(SELECT SUM(c.consumed_duration) AS totalDuration, ( SUM(c.consumed_duration) * m.shop_percent / 100 ) AS dayIncome 
		FROM manager m LEFT JOIN consumed_details c ON m.id = c.shop_id 
		WHERE m.proxy_id =#{proxyId} AND c. STATUS = 2 AND DATE_FORMAT(c.last_update, '%Y-%m-%d') BETWEEN #{from} AND #{to}) AS tmp,
		
		(select m1.id, m1.shop_name as shopName, m1.shop_location as shopLocation, m1.shop_contact as shopContact 
		from manager m1 where m1.proxy_id = #{proxyId}) as tmp1
		LEFT JOIN device d ON tmp1.id = d.shop_id
		GROUP BY tmp1.id
	</select>
	
	<!-- 统计-代理，查询代理自身收益统计 -->
	<select id="queryBaseStatisctics" parameterType="com.chair.manager.pojo.ManagerDto" resultType="com.chair.manager.pojo.Statisctics">
		select 
		(select SUM(consumed_duration) from consumed_details c where c.proxy_id=m.id) as totalIncome,
		(select count(1) from manager m1 where m1.proxy_id = m.id) as totalShop,
		(select count(1) from device d where d.proxy_id = m.id) as totalDevice
		<!-- (select SUM(consumed_duration) * m.proxy_percent /100 from consumed_details c where c.proxy_id=m.id and DATE_FORMAT(now(), '%Y-%m-%d') = DATE_FORMAT(last_update, '%Y-%m-%d')) as dayIncome -->
		<!-- (select sum(c.consumed_duration) * m1.shop_percent/100  from manager m1 left JOIN consumed_details c on c.shop_id=m1.id where m1.proxy_id=8 group by m1.id) as dayIncome -->
		from manager m where m.id=#{id}
	</select>
	
	<!-- 统计-代理，查询代理下所有商家的今日收益之和 -->
	<select id="queryDayIncomeForProxy" parameterType="com.chair.manager.pojo.ManagerDto" resultType="com.chair.manager.pojo.Statisctics">
		select (sum(c.consumed_duration) * m1.shop_percent/100 ) as dayIncome
		from manager m1 left JOIN consumed_details c on c.shop_id=m1.id where m1.proxy_id=#{proxyId} group by m1.id
	</select>
	
	
	
	
	<!-- 统计-商家，查询商家自身收益统计 -->
	<select id="queryShopStatisctics" parameterType="com.chair.manager.pojo.ManagerDto" resultType="com.chair.manager.pojo.Statisctics">
		select d.id as id, d.device_no as deviceNo, 
		sum(consumed_duration) as totalDuration, 
		(sum(consumed_duration) * ( select shop_percent/100 from manager where id=d.shop_id) )as totalIncome 
		from device d left join consumed_details c on d.id=c.device_id where d.shop_id=#{shopId} and c.status=2 and DATE_FORMAT(c.last_update,'%Y-%m-%d') BETWEEN #{from} and #{to} group by d.id
	</select>
	
	<!-- 统计-商家，查询商家自身基本统计 -->
	<select id="queryShopBaseStatisctics" parameterType="com.chair.manager.pojo.ManagerDto" resultType="com.chair.manager.pojo.Statisctics">
		select ( sum(consumed_duration) * (select shop_percent from manager where id=#{shopId}) /100 ) as totalIncome,
		(select ( sum(consumed_duration) * (select shop_percent from manager where id=#{shopId}) /100 ) from  consumed_details where shop_id=#{shopId} and DATE_FORMAT(last_update,'%Y-%m-%d') = DATE_FORMAT(now(),'%Y-%m-%d')) as dayIncome
		from consumed_details where status=2 and shop_id=#{shopId};
	</select>
	
	
	
	
</mapper>